.Container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  margin-top: 100px;
}
.Container h1 {
  font-size: 56px;
  font-weight: 800;
}
.Container h1 span {
  color: #39b5e0;
}
.Logo {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.image {
  max-width: 150px;
  height: 125px;
}
.name {
  margin-top: 20px;
  color: #39b5e0;
  font-weight: 700;
}
