.Container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  margin-top: 100px;
}
.Container h1 {
  font-size: 56px;
  font-weight: 800;
  color: #ff7000;
}
.box {
  display: flex;
  margin: 100px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 3px solid #ff7000;
  border-radius: 30px;
  box-shadow: rgba(255, 59, 59, 0.25) 0px 30px 35px,
    rgba(255, 124, 53, 0.12) 0px -12px 30px,
    rgba(253, 161, 57, 0.12) 0px 4px 4px, rgba(255, 42, 42, 0.17) 0px 6px 8px,
    rgba(255, 111, 33, 0.09) 0px -2px 5px;
}
.box img {
  max-width: 250px;
  height: 250px;
}
.text {
  text-align: start;
}
.text h1 {
  font-size: 48px;
  color: #000;
  font-weight: 700;
}
.text h2 {
  font-size: 36px;
  color: #03c988;
}
.text h2 span {
  font-size: 24px;
  color: #ade792;
  font-weight: 400;
}
.text p {
  text-align: center;
  font-size: 20px;
  color: #ababab;
  margin-top: 10px;
}
